/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background: brown;
    border: 20px dashed yellow;
}

header {
    background: orangered;
}

.container {
    display: grid;
    grid-template-areas: "fn2 fn2 blank blank" "fn2 fn2 blank blank" "race race blank blank" "race race blank blank";
    grid-template-columns: 200px 200px 100px 100px;
    grid-template-rows: 300px 100px 500px 100px;
}

.shit {
    background: pink;
    grid-area: fn2;
}

.shittier {
    background: purple;
    grid-area: race;
}

.shittiest {
    background: lime;
}

a:hover {
    position: absolute;
    right: 500px;
    top: 50px;
}